/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)

   github pages not deploying node_modules so copy paste for now
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

body {
    line-height: 1;
}

input {
    border: none;
    outline: none;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: debug;
    src: url(./fonts/DebugFreeTrial-MVdYB.otf);
}

body {
    --board-size: 50vw;
    font-family: debug, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 30px;
}

.startScreenCtr {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    /* align-items: stretch; */
}

.appCtr {
    margin: 30px;
    display: flex;
    font-family: inherit;
    gap: 100px;
}

.appCtr.state-3 {
    flex-direction: column;
}

.btnCtr {
    display: flex;
    justify-content: space-between;
}

.headersCtr {
    width: 75%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.playerCardCtr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.vsCtr {
    align-self: center;
}

h1 {
    font-size: 6rem;
}

input {
    font-family: inherit;
    font-size: 3rem;
    border-bottom: 3px solid black;
    transition: .6s;
}

input:focus {

    border-bottom: 10px solid black;
}

button {
    font-family: inherit;
    font-size: 5rem;
    align-self: center;
    width: 250px;

    color: white;

    background-color: black;
    outline: none;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    transition: .6s;
}

button:hover {
    transform: scale(1.2);
}

button:active {
    transform: scale(.9);
}

.activePlayer {
    transform: scale(1.1);
    transition: .5s;
}

.board-container {
    height: var(--board-size);
    width: var(--board-size);

    display: flex;
    flex-direction: column;

    border: 3px solid black;
}

.grid-row {
    display: flex;
    flex: 0 0 1;
}

.grid-square {
    height: calc(var(--board-size)/3.01);
    width: calc(var(--board-size)/3.01);
    border: .5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}